@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato";
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  transition: 0.2s all ease;
  overflow-x: hidden;
}

body.dark {
  background-color: rgb(34, 33, 33);
}

a {
  color: inherit;
}

#up-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #404040;
  color: #fff;
  position: fixed;
  opacity: 0;
  bottom: 0px;
  display: none;
  right: 20px;
  z-index: 900;
}
#up-wrapper:hover {
  cursor: pointer;
}

#up-wrapper.dark {
  background-color: #fff;
  color: #000;
}

.nav {
  position: absolute;
  padding: 20px 100px 20px 30px;
  width: 100%;
  color: #fff;
  z-index: 101;
}
@media screen and (max-width: 998px) {
  .nav {
    background-color: #089cfc;
    box-shadow: 0px 6px 7px 0px rgba(50, 50, 50, 0.75);
  }
}
@media screen and (max-width: 760px) {
  .nav {
    padding: 20px 0px 20px 0px;
  }
}
.nav h2 {
  display: inline-block;
}
@media screen and (max-width: 760px) {
  .nav h2 {
    text-align: center;
    display: block;
  }
}
.nav .nav-links {
  float: right;
}
@media screen and (max-width: 760px) {
  .nav .nav-links {
    display: none;
  }
}
.nav .nav-links li {
  display: inline-block;
  margin: 0px 20px;
  font-size: 1.1rem;
  border-bottom: 2px solid transparent;
  transition: 0.2s all ease;
}
.nav .nav-links li:hover {
  border-color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 998px) {
  .nav.dark {
    background-color: #404040;
  }
}

.toggler {
  position: absolute;
  left: 25px;
  top: 60px;
  z-index: 102;
}
@media screen and (max-width: 998px) {
  .toggler {
    left: 10px;
    top: 80px;
  }
}
@media screen and (max-width: 760px) {
  .toggler {
    top: 20px;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .label .ball {
  transform: translateX(47px);
}

.label {
  background-color: rgb(34, 28, 28);
  display: flex;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: rgb(204, 204, 95);
  position: relative;
  transition: 0.2s all ease;
}

.label.light {
  background-color: #fff;
}

.ball {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.2s all ease;
}
.ball:hover {
  cursor: pointer;
}

.ball.dark {
  background-color: rgb(34, 28, 28);
}

.fa-moon, .fa-sun {
  font-size: 1.2rem;
}

@media screen and (max-width: 998px) {
  .top-wave-wrapper {
    display: none;
  }
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  transition: 0.2s all ease;
}
.main h1 {
  color: rgb(46, 44, 44);
  margin-top: 100px;
  font-size: clamp(3.3rem, 5.1vw, 5rem);
}
.main p {
  color: rgb(46, 44, 44);
  font-size: clamp(2rem, 2.6vw, 2.5rem);
}

.slider-wrapper {
  font-size: clamp(1.6rem, 2.1vw, 2rem);
  color: rgb(129, 123, 123);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 50px;
  padding-left: 15px;
  overflow: hidden;
}

.slider div {
  color: #fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 0.2em 15px;
  text-align: center;
  box-sizing: border-box;
}

.slider-text1 {
  background: #907BB7;
  animation: slide 15s linear infinite;
}

.slider-text2 {
  background: rgb(135, 206, 235);
}

.slider-text3 {
  background: lightcoral;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}
.divider {
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.divider .line {
  border: 0.2px solid rgb(179, 179, 179);
  margin: 0px 20px;
  width: 30%;
}
.divider .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #089cfc;
}

.main-text {
  width: 65%;
  margin-top: 20px;
}
@media screen and (max-width: 760px) {
  .main-text {
    width: 85%;
  }
}
.main-text p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  text-align: center;
  line-height: 170%;
  transition: 0.2s all ease;
  color: rgb(129, 123, 123);
}

.main-button {
  text-transform: uppercase;
  width: 150px;
  margin-top: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 2px;
  background-color: #089cfc;
  transition: 0.2s all ease;
}
.main-button:hover {
  cursor: pointer;
  background-color: #0182d8;
}

.main.dark h1, .main.dark .slider-wrapper {
  color: #fff;
}
.main.dark .main-text p {
  color: rgb(194, 194, 194);
}
.main.dark .main-button {
  background-color: #fff;
  color: #000;
}
.main.dark .main-button:hover {
  background-color: rgb(221, 221, 221);
}
.main.dark .divider .circle {
  background-color: #404040;
}

.about {
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  margin: 0 auto;
  position: relative;
  transition: all 0.2s ease;
}
@media screen and (max-width: 998px) {
  .about {
    width: 90%;
  }
}
.about h1 {
  text-align: center;
  font-size: 5rem;
  position: relative;
  top: 20px;
  color: rgb(46, 44, 44);
  opacity: 0;
}

.about-inner {
  display: flex;
  margin-top: 30px;
  position: relative;
  top: 30px;
  opacity: 0;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 998px) {
  .about-inner {
    flex-direction: column;
  }
}
.about-inner .about-text {
  width: 50%;
}
.about-inner .about-text h3 {
  font-size: 3.5rem;
  color: rgb(46, 44, 44);
  line-height: 130%;
}
.about-inner .about-text p {
  color: rgb(129, 123, 123);
  line-height: 150%;
  font-size: 1.3rem;
}
@media screen and (max-width: 998px) {
  .about-inner .about-text {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
  }
}
.about-inner .about-img-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 998px) {
  .about-inner .about-img-wrapper img {
    height: 250px !important;
  }
}
.about-inner .about-img-wrapper #profile-img {
  border-radius: 50%;
}

.about.dark h1 {
  color: #fff;
}
.about.dark .about-inner > .about-text > h3 {
  color: #fff;
}
.about.dark .about-inner > .about-text > p {
  color: rgb(196, 196, 196);
}

.skills {
  width: 100%;
  margin-top: 30px;
}
.skills h1 {
  color: rgb(46, 44, 44);
  font-size: 5rem;
  text-align: center;
}

.skill-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
@media screen and (max-width: 998px) {
  .skill-card-wrapper {
    flex-direction: column;
    margin-top: 0px;
  }
}
.skill-card-wrapper .skill-card {
  width: 30%;
  display: flex;
  top: 50px;
  position: relative;
  opacity: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  flex-direction: column;
  background-color: #fff;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2px;
}
@media screen and (max-width: 998px) {
  .skill-card-wrapper .skill-card {
    width: 90%;
    margin: 20px 0px;
  }
}
.skill-card-wrapper .skill-card h3 {
  font-size: 2rem;
  color: rgb(46, 44, 44);
  line-height: 150%;
}
.skill-card-wrapper .skill-card p {
  color: rgb(54, 54, 54);
  font-size: 1.3rem;
  line-height: 135%;
}

.skill-wrapper {
  display: flex;
  margin-top: 20px;
  position: relative;
  background-color: #089cfc;
  height: 300px;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 998px) {
  .skill-wrapper {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    padding: 80px;
  }
}
.skill-wrapper .each-skill {
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 998px) {
  .skill-wrapper .each-skill {
    width: 100%;
    margin: 40px 0px;
  }
}
.skill-wrapper .each-skill i {
  color: #fff;
  opacity: 0;
  top: 20px;
  font-size: 4rem;
  margin: 20px;
}
.skill-wrapper .each-skill p {
  color: #fff;
  text-align: center;
  line-height: 25px;
  opacity: 0;
  position: relative;
  top: 30px;
}

.skills.dark h1 {
  color: #fff;
}
.skills.dark .skill-card-wrapper .skill-card {
  background-color: #404040;
}
.skills.dark .skill-card-wrapper .skill-card h3, .skills.dark .skill-card-wrapper .skill-card p {
  color: #fff;
}

.projects h1 {
  color: rgb(46, 44, 44);
  margin-top: 100px;
  font-size: clamp(3.3rem, 5.1vw, 5rem);
  text-align: center;
}
.projects p {
  color: rgb(129, 123, 123);
  text-align: center;
  margin-top: 20px;
  font-size: clamp(1.5rem, 2.5vw, 1.8rem);
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (max-width: 998px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 20px;
  align-items: center;
  width: 30%;
}
.card .card-body {
  width: 100%;
}
.card .card-body .card-title {
  color: rgb(46, 44, 44);
  font-size: 2.5rem;
  margin-top: 10px;
}
.card .card-body .card-text {
  color: rgb(129, 123, 123);
  font-size: 1.2rem;
  margin-top: 0px;
  line-height: 27px;
}
@media screen and (max-width: 998px) {
  .card {
    width: 90%;
    margin: 20px 0px;
  }
}

.projects.dark h1 {
  color: #fff;
}
.projects.dark .card-body h5, .projects.dark .card-body a {
  color: #fff;
}

.resume-section {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  flex-direction: column;
}
.resume-section h1 {
  color: rgb(46, 44, 44);
  margin: 0 auto;
  margin-top: 100px;
  font-size: clamp(3.3rem, 5.1vw, 5rem);
}
.resume-section p {
  color: rgb(129, 123, 123);
  margin: 10px auto;
  font-size: 2rem;
  text-align: center;
}
.resume-section .resume-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resume-section .resume-container .preview-resume {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px auto;
  width: 650px;
  border: 2px solid silver;
  transition: filter 0.25s ease;
}
@media screen and (max-width: 998px) {
  .resume-section .resume-container .preview-resume {
    width: 90%;
  }
}
.resume-section .resume-container p {
  position: absolute;
  font-size: clamp(1.2rem, 2.1vw, 2rem);
  text-align: center;
  line-height: 100%;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.resume-section .resume-container:hover img {
  filter: brightness(30%);
}
.resume-section .resume-container:hover p {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
.resume-section h2 {
  color: rgb(46, 44, 44);
  text-align: center;
  font-size: clamp(2.5rem, 3.1vw, 3rem);
  margin: 20px auto;
}
.resume-section .icon-container {
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.resume-section .icon-container i {
  font-size: 1.8rem;
  color: rgb(223, 55, 17);
}

.resume-section.dark h1, .resume-section.dark h2 {
  color: #fff;
}/*# sourceMappingURL=styles.css.map */