@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato";
  list-style-type: none;
}

body {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  height: 100vh;
  scroll-behavior: smooth;
}

body.dark {
  background-color: #222121;
}

.nav {
  position: absolute;
  padding: 20px 100px 20px 30px;
  width: 100%;
  color: #fff;
  z-index: 101;
}

@media screen and (max-width: 998px) {
  .nav {
    background-color: #089cfc;
    -webkit-box-shadow: 0px 6px 7px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 0px 6px 7px 0px rgba(50, 50, 50, 0.75);
  }
}

@media screen and (max-width: 760px) {
  .nav {
    padding: 20px 0px 20px 0px;
  }
}

.nav h2 {
  display: inline-block;
}

@media screen and (max-width: 760px) {
  .nav h2 {
    text-align: center;
    display: block;
  }
}

.nav .nav-links {
  float: right;
}

@media screen and (max-width: 760px) {
  .nav .nav-links {
    display: none;
  }
}

.nav .nav-links li {
  display: inline-block;
  margin: 0px 20px;
  font-size: 1.1rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.nav .nav-links li:hover {
  border-color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 998px) {
  .nav.dark {
    background-color: #404040;
  }
}

.toggler {
  position: absolute;
  left: 25px;
  top: 60px;
  z-index: 102;
}

@media screen and (max-width: 998px) {
  .toggler {
    left: 10px;
    top: 80px;
  }
}

@media screen and (max-width: 760px) {
  .toggler {
    top: 20px;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(47px);
          transform: translateX(47px);
}

.label {
  background-color: #221c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  color: #cccc5f;
  position: relative;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.label.light {
  background-color: #fff;
}

.ball {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.ball:hover {
  cursor: pointer;
}

.ball.dark {
  background-color: #221c1c;
}

.fa-moon, .fa-sun {
  font-size: 1.2rem;
}

@media screen and (max-width: 998px) {
  .top-wave-wrapper {
    display: none;
  }
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.main h1 {
  color: #2e2c2c;
  margin-top: 100px;
  font-size: clamp(3.3rem, 5.1vw, 5rem);
}

.main p {
  color: #2e2c2c;
  font-size: clamp(2rem, 2.6vw, 2.5rem);
}

.slider-wrapper {
  font-size: clamp(1.6rem, 2.1vw, 2rem);
  color: #817b7b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  height: 50px;
  padding-left: 15px;
  overflow: hidden;
}

.slider div {
  color: #fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 0.2em 15px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider-text1 {
  background: #907BB7;
  -webkit-animation: slide 15s linear infinite;
          animation: slide 15s linear infinite;
}

.slider-text2 {
  background: skyblue;
}

.slider-text3 {
  background: lightcoral;
}

@-webkit-keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.divider {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divider .line {
  border: 0.2px solid #b3b3b3;
  margin: 0px 20px;
  width: 30%;
}

.divider .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #089cfc;
}

.main-text {
  width: 65%;
  margin-top: 20px;
}

@media screen and (max-width: 760px) {
  .main-text {
    width: 85%;
  }
}

.main-text p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  text-align: center;
  line-height: 170%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  color: #817b7b;
}

.main-button {
  text-transform: uppercase;
  width: 150px;
  margin-top: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  border-radius: 2px;
  background-color: #089cfc;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.main-button:hover {
  cursor: pointer;
  background-color: #0182d8;
}

.main.dark h1, .main.dark .slider-wrapper {
  color: #fff;
}

.main.dark .main-text p {
  color: #c2c2c2;
}

.main.dark .main-button {
  background-color: #fff;
  color: #000;
}

.main.dark .main-button:hover {
  background-color: #dddddd;
}

.main.dark .divider .circle {
  background-color: #404040;
}

.about {
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.about h1 {
  text-align: center;
  font-size: 5rem;
  position: relative;
  top: 20px;
  color: #2e2c2c;
  opacity: 0;
}

.skill-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  background-color: #089cfc;
  height: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 998px) {
  .skill-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 80px;
  }
}

.skill-wrapper .each-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 998px) {
  .skill-wrapper .each-skill {
    width: 100%;
    margin: 40px 0px;
  }
}

.skill-wrapper .each-skill i {
  color: #fff;
  opacity: 0;
  top: 20px;
  font-size: 4rem;
  margin: 20px;
}

.skill-wrapper .each-skill p {
  color: #fff;
  text-align: center;
  line-height: 25px;
  opacity: 0;
  position: relative;
  top: 30px;
}

.about.dark .skill-wrapper {
  background-color: #404040;
}

.about.dark h1 {
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */